<div class="w-100 p-3" style="font-size:25px;">Welcome to Make Me Fly<span style="float: right; font-size:20px;">Scheules Listing </span></div>
<div class="card">
    <div class="table-responsive">
         <table class="table table-hover" *ngIf='scheduledList.length'>
             <thead class="table-dark">
                 <tr>
                     <th>Flight Schedule Id</th>
                     <th>Flight Id</th>
                     <th>Flight Name</th>
                     <th>Departure Time</th>
                     <th>Arrival Time</th>
                     <th>Schedule Start Date</th>
                     <th>Schedule End Date</th>
                     <th>Departure Place</th>
                     <th>Arrival Place</th>
                     <th>Status</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor ='let schedule of scheduledList'>
                     <td>{{schedule.flightScheduleId}}</td>
                     <td>{{schedule.flight.flightId}}</td>
                     <td>{{schedule.flight.flightName}}</td>
                     <td>{{schedule.departureTime | date:'shortTime'}}</td>
                     <td>{{schedule.arrivalTime | date:'shortTime'}}</td>
                     <td>{{schedule.scheduledStartDate}}</td>
                     <td>{{schedule.scheduledEndDate}} 
                     <td>{{schedule.departurePlaceId.cityName}}</td>
                     <td>{{schedule.destinationPlaceId.cityName}}</td>
                     <td>
                        <div class="form-group" *ngIf="schedule.isActive == 1">
                            <button type="submit" class="btn btn-primary" (click)="blockSchedule(schedule.flightScheduleId)">Block</button>
                        </div>
                        <div class="form-group" *ngIf="schedule.isActive == 0">
                            <button type="submit" class="btn btn-primary" (click)="unBlockSchedule(schedule.flightScheduleId)">Unblock</button>
                        </div>
                    </td>
                 </tr>
             </tbody>
         </table>
     </div>
 </div>
 