<app-admin-header></app-admin-header>
<div><span style="font-size:25px;">Flight Listing</span>
<a routerLink="/addFlight" style="float:right;"><button type="button" class="btn btn-primary">Add Flight</button></a>
<div class="card">
    <div class="table-responsive">
         <table class="table table-hover" *ngIf='flightList.length'>
             <thead class="table-dark">
                 <tr>
                     <th>Flight Id</th>
                     <th>Flight Name</th>
                     <th>Business Seats Count</th>
                     <th>Business Seat Cost</th>
                     <th>Non Business Seats Count</th>
                     <th>Non Business Seats Cost</th>
                     <th>Airline Name</th>
                     <th>Meal Preference</th>
                     <th>Status</th>
                     <th>Update</th>
                 </tr>
             </thead>
             <tbody>
                 <tr *ngFor ='let flight of flightList'>
                     <td>{{flight.flightId}}</td>
                     <td>{{flight.flightName }}</td>
                     <td>{{flight.businessSeats}}</td>
                     <td>{{flight.businessSeatCost}}</td>
                     <td>{{flight.nonBusinessSeats}}</td>
                     <td>{{flight.nonBusinessSeatCost}}</td>
                     <td>{{flight.airline.airlineName}}
                            <div *ngIf = "flight.airline.isActive == 0" style="color:red;">Blocked</div>
                     </td>
                     <td><span *ngIf="flight.meals[0] != null">  {{flight.meals[0].mealType}} </span>  
                         <span *ngIf="flight.meals[1] != null"> / {{flight.meals[1].mealType}} </span>
                     </td>
                     <td>
                        <div class="form-group" *ngIf="flight.isActive == 1">
                            <button type="submit" class="btn btn-primary" [disabled]="flight.airline.isActive == 0" (click)="blockFlight(flight.flightId)">Block</button>
                        </div>
                        <div class="form-group" *ngIf="flight.isActive == 0">
                            <button type="submit" class="btn btn-primary" [disabled]="flight.airline.isActive == 0" (click)="unBlockFlight(flight.flightId)">Unblock</button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <a routerLink="/updateFlight/{{flight.flightId}}"><button type="submit" class="btn btn-primary">Edit</button></a>
                        </div>
                    </td>
                 </tr>
             </tbody>
         </table>
     </div>
 </div>
 