<app-admin-header></app-admin-header>
<div><span style="font-size:25px;">Airline Listing</span>
<a routerLink="/addAirline" style="float:right;"><button type="button" class="btn btn-primary">Add Airline</button></a>
</div><br>
<div class="card">
   <div class="table-responsive">
        <table class="table table-hover" *ngIf='airlineList.length'>
            <thead class="table-dark">
                <tr>
                    <th>Airline Id</th>
                    <th>Airline Name</th>
                    <th>IAIA Code</th>
                    <th>Status</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor ='let airline of airlineList'>
                    <td>{{airline.airlineId}}</td>
                    <td>{{airline.airlineName }}</td>
                    <td>{{airline.iaia}}</td>
                    <td>
                        <div class="form-group" *ngIf="airline.isActive == 1">
                            <button type="submit" class="btn btn-primary" (click)="blockAirline(airline.airlineId)">Block</button>
                        </div>
                        <div class="form-group" *ngIf="airline.isActive == 0">
                            <button type="submit" class="btn btn-primary" (click)="unBlockAirline(airline.airlineId)">Unblock</button>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <a routerLink="/updateAirline/{{airline.airlineId}}"><button type="submit" class="btn btn-primary">Edit</button></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
