<app-admin-header></app-admin-header>
<form [formGroup] ='updateFlightForm' (ngSubmit)="updateFlight()">
    <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Flight Name</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="flightName" formControlName="flightName">
      </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Airline Name</label>
        <!-- <div class="col-sm-4">
         <select formControlName="airlineId" class="form-control" ([ngModel])="airlineSelect">
            <option [ngValue]="null" disabled>Select Airline</option>
            <option *ngFor="let airline of airlineList" [ngValue]="airline.airlineId">{{airline.airlineName}}</option>
         </select>
        </div> -->

        
        <div class="col-sm-4">
          <input type="text" class="form-control" id="airlineName" formControlName="airlineId" ng-readonly>
        </div>
      </div>
      <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Business Seat</label>
      <div class="col-sm-4">
        <input class="form-control" id="businessSeats" formControlName="businessSeats">
      </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Non Business Seat</label>
        <div class="col-sm-4">
          <input class="form-control" id="nonBusinessSeats" formControlName="nonBusinessSeats">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Business Seat Cost</label>
        <div class="col-sm-4">
          <input class="form-control" id="businessSeatCost" formControlName="businessSeatCost">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Non Business Seat Cost</label>
        <div class="col-sm-4">
          <input class="form-control" id="nonBusinessSeatCost" formControlName="nonBusinessSeatCost">
        </div>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Meal Preference</label>
      <div class="col-sm-4">
       <select multiple
       formControlName="meals" class="form-control">
          <option [ngValue]="null" disabled>Select Meal</option>
          <option *ngFor="let meal of mealList" [ngValue]="meal">{{meal.mealType}}</option>
       </select>
      </div>
    </div>
   <br>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add Flight</button>
      </div>
    </div>
  </form>