<app-admin-header></app-admin-header>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <input type="text" placeholder="Search by user" [(ngModel)]="filterString" class="form-control">
        </div>
        <div class="col-4">
            <input type="text" placeholder="Search by PNR" [(ngModel)]="pnrFilter" class="form-control">
        </div>
    </div>
</div>
<br>
<div class="card">

    <div class="table-responsive">
        <table class="table" *ngIf='allTickets'>
            <thead class="table-dark">
                <tr>
                    <th>Ticket Id</th>
                    <th>Travel Date</th>
                    <th>PNR No</th>
                    <th>Total Cost</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Departure Place</th>
                    <th>Arrival Place</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ticketResult of allTickets | searchUser:filterString | searchPnr:pnrFilter ">
                    <td>{{ticketResult.ticketBookingId}}</td>
                    <td>{{ticketResult.travelDate }}</td>
                    <td>{{ticketResult.pnrNo}}</td>
                    <td>{{ticketResult.ticketCost }} </td>
                    <td>{{ticketResult.bookingFlight.departureTime | date:'shortTime' }}</td>
                    <td>{{ticketResult.bookingFlight.arrivalTime | date:'shortTime' }}</td>
                    <td>{{ticketResult.bookingFlight.departurePlaceId.cityName }}</td>
                    <td>{{ticketResult.bookingFlight.destinationPlaceId.cityName}}</td>
                    <td>{{ticketResult.userEmail}}</td>
                    <!-- <td> <button type="button" class="btn btn-primary" (click)="cancelTicket(ticketResult.ticketBookingId)" >Cancel Ticket</button></td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>